<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
  Splurty was built by <a target="_blank" href="http://github.com/erikyoung">Erik</a> 
  </p>
  <br />
  <p>
  Everyone needs a little bit of inspiration sometimes. The purpose of this page is for you to give your two cents. What do people need to hear when they're having doubts? What is it that is going to carry you through when doubt creeps in? 
  </p>
  
</div>

<div class="col-xs-12 col-sm-12" style="padding-top:30px;">
  <%= image_tag 'Erik.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Erik Young</h2>
  <br />
  <p>
  Erik is a life-long wanderer and professional student. At 23, he resisted all the temptations of a conventional life and ran away to Vietnam to live in a one-room shack. Without a single friend or contact, Erik built a life as a teacher and found his footing in Vietnamese society. Erik has since learned Vietnamese, started a family, and is currently the Head of Department for the Professional Communications degree at RMIT University, Vietnam. How's that for taking a shot at life? 
  </p>
  <br />
</div>
</div>
<br class="clear" />


<br class="clear" />
<br />
<br />
<br />
<br />
