<h2>
<span>SPLURTY / No. <%= @quote.id %></span>
Here's the <u>best random encouragement</u> you can get! Keep refreshing the page for more advice
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br />
<br />
<br />

<h3>Add your own words of inspiration by clicking on the Contribute link above</h3>




<br class="clear" />
<br />
<br />
<br />